/*
  The house style sheet for disconnect.me.

  Copyright 2010, 2011 Disconnect, Inc.

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program. If not, see <http://www.gnu.org/licenses/>.

  Authors (one per line):

    Brian Kennish <byoogle@gmail.com>
*/
html { -webkit-text-size-adjust: none }

body, input { font-family: 'Lucida Sans', Tahoma, Verdana, sans-serif }

body {
  margin: 0;
  color: #333
}

#content {
  margin: auto;
  padding-right: 50px;
  width: 840px
}

#header { border-bottom: 1px solid #93b4d9 }

#header > table { margin-bottom: -52px }

#header td, #content > .description, #features, #installation, #footer {
  text-align: center
}

#content img { border: none }

#header .description {
  background: white;
  font-size: 22px;
  color: #666
}

#tabs { text-align: right }

#tabs table {
  display: inline-block;
  margin-bottom: -4px;
  border-collapse: collapse
}

#tabs td {
  padding: 0;
  text-align: center;
  vertical-align: bottom
}

.inactive, .button.inactive { color: graytext }

.tab {
  border-top: 1px solid #93b4d9;
  border-right: 1px solid #93b4d9;
  border-bottom: 1px solid white;
  border-left: 1px solid #93b4d9;
  border-top-left-radius: 8px;
  -moz-border-top-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  background: white;
  width: 126px
}

.tab.verbose { font-size: 14px }

.tab.inactive {
  border-top: 1px solid #bdc7d8;
  border-right: 1px solid #bdc7d8;
  border-bottom: 1px solid #93b4d9;
  border-left: 1px solid #bdc7d8;
  cursor: pointer;
  outline: none
}

.tab.inactive.highlighted {
  border-top: 1px solid #a8bed9;
  border-right: 1px solid #a8bed9;
  border-left: 1px solid #a8bed9;
  color: #706e66
}

.tab-surface {
  border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 8px;
  -moz-border-top-right-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  background: white;
  height: 36px
}

.inactive .tab-surface { background: #edeff4 }

.inactive.highlighted .tab-surface { background: #f6f7fa }

.tab .label { padding-top: 9px }

.tab.verbose .label { padding-top: 2px }

.description table,
.feature,
.feature img:first-child,
.feature .description,
#installation,
#subscription { display: inline-block }

.description table, #subscription, a { color: black }

.description table, #subscription {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px
}

.description table {
  border: 1px solid #93b4d9;
  background: #cadef4
}

.description td {
  padding: 4px;
  width: 480px;
  height: 64px;
  vertical-align: middle
}

.name, input { font-size: 20px }

#features { margin: 0 0 0 16px }

.feature img:first-child, #mc-embedded-subscribe { cursor: pointer }

.feature img:first-child {
  border: 1px solid #e5eaf1;
  width: 160px;
  height: 120px
}

.feature img, .response { display: none }

.feature .description, .note, #content > table { font-size: small }

.feature .description, .email.iphone { width: 200px }

#actions { margin-left: 32px }

#installation, #footer img { vertical-align: top }

#installation { width: 380px }

.button, input { margin: 8px 0 }

.button {
  display: inline-block;
  border: 1px solid #2f5bb7;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: white;
  height: 64px;
  text-align: center;
  font-size: 20px;
  color: white;
  cursor: pointer;
  outline: none
}

.button.inactive { border: 1px solid #c9c7ba }

.button.highlighted { color: #eee }

.button-surface { width: 254px }

.button-surface.top {
  border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-right-radius: 6px;
  -moz-border-top-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  background: #4d90fe;
  height: 40px
}

.inactive .button-surface.top { background: #f5f4ea }

.highlighted .button-surface.top { background: #357ae8 }

.button-surface.bottom {
  border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  background: #357ae8;
  height: 24px
}

.inactive .button-surface.bottom { background: #e2dfd6 }

.highlighted .button-surface.bottom { background: #4d90fe }

.button .label { margin-top: -44px }

.button .name { font-size: 24px }

#subscription, input { padding: 8px }

#subscription, .email { border: 1px solid #fc0 }

#subscription {
  margin-left: 20px;
  background: #fe8;
  width: 366px
}

.email { width: 226px }

#mc-embedded-subscribe {
  float: right;
  border: 1px solid #9b001d;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background: #d42014;
  color: white
}

.ie {
  width: 112px;
  height: 40px
}

span.mce_inline_error, .response {
  margin-bottom: 8px;
  font-style: italic
}

span.mce_inline_error, #mce-error-response { color: maroon }

#mce-success-response { color: green }

#content > table td {
  width: 120px;
  height: 48px;
  text-align: center
}

a { text-decoration: none }

#footer {
  border-top: 1px solid #93b4d9;
  padding-top: 8px;
  text-align: right;
  font-size: 12px;
  color: #888
}

#footer a:hover, #footer a:active { border-bottom: 1px solid black }

img { border: 1px solid #333 }
