/*
  The style sheet for disconnect.me.

  Copyright 2010, 2011 Disconnect, Inc.

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program. If not, see <http://www.gnu.org/licenses/>.

  Brian Kennish <byoogle@gmail.com>
*/
body, input { font-family: 'Lucida Sans', Tahoma, Verdana, sans-serif }

body {
  margin: 0;
  color: #333
}

#header, .name, input { font-size: 20px }

#header {
  background: #edeff4;
  height: 200px
}

.content {
  margin: auto;
  padding-right: 50px;
  width: 840px
}

#header .content, .feature, #installation, #footer { text-align: center }

#header img, #footer img { border: none }

#header .description, #footer img { margin-top: 4px }

#features { margin: -40px 0 0 16px }

.feature,
.feature img:first-child,
.feature .description,
#installation,
#installation a,
#installation .description,
#subscription { display: inline-block }

.feature img:first-child, #mc-embedded-subscribe { cursor: pointer }

.feature img:first-child {
  border: 1px solid #e5eaf1;
  width: 160px;
  height: 120px
}

.feature img, .response { display: none }

.feature .description, .note, #footer { font-size: small }

.feature .description, .iphone { width: 200px }

#actions { margin-left: 32px }

#installation, #footer img { vertical-align: top }

#installation { width: 380px }

#installation a, #subscription {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  width: 366px
}

#installation a, input { margin: 8px 0 }

#installation a, .ghosted { color: graytext }

#installation a {
  border: 1px solid #c9c7ba;
  background: #f5f4ea;
  padding: 4px;
  height: 64px;
  text-decoration: none
}

#installation .activated, #subscription { color: black }

#installation .activated {
  border: 1px solid #fc0;
  background: #fe8
}

#subscription, input { padding: 8px }

#subscription, .email { border: 1px solid #93b4d9 }

#subscription {
  margin-left: 20px;
  background: #cadef4
}

.email { width: 226px }

#mc-embedded-subscribe {
  float: right;
  border: 1px solid #9b001d;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background: #d42014;
  color: white
}

.ie {
  width: 112px;
  height: 40px
}

span.mce_inline_error, .response {
  margin-bottom: 8px;
  font-style: italic
}

span.mce_inline_error, #mce-error-response { color: maroon }

#mce-success-response { color: green }

#footer a { vertical-align: bottom }

#footer :link, #footer a:active, #footer :visited { color: #003ea8 }

img { border: 1px solid #333 }
