/*
  The style sheet for the Disconnect DB icon page.

  Copyright 2010, 2011 Disconnect, Inc.

  This program is free software: you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation, either version 3 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

  You should have received a copy of the GNU General Public License along with
  this program. If not, see <http://www.gnu.org/licenses/>.

  Authors (one per line):

    Brian Kennish <byoogle@gmail.com>
*/
#header a {
  font-weight: bold;
  text-decoration: none;
  color: #3b5998
}

.feature { width: 160px }

#features .feature { text-align: left }

#more-features .feature { text-align: right }

.feature img:first-child {
  border: none;
  width: 64px;
  height: 78px
}

#more-features img:first-child { margin-top: -64px }

#descriptions {
  text-align: center;
  font-size: 24px
}

#descriptions span { display: none }

#descriptions .inlined { display: inline }

#descriptions em { font-size: 20px }

body > img {
  border: none;
  width: 400px;
  height: 480px
}
